DATABASE_URL=ep-green-silence-ap1ds3e9-pooler.c-7.us-east-1.aws.neon.tech
DIRECT_URL=postgresql://neondb_owner:npg_SgFGb7kp0Kfe@ep-green-silence-ap1ds3e9.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
CRON_SECRET=
